<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
      <a href="index.html" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
    <div class="container">
      <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% foods.each do |food| %>
              <div class="col mb-5">
                <div class="card h-100">
                  <img class="card-img-top" src="<%= food.get_image %>" alt="...">
                  <div class="card-body p-4">
                      <div class="text-center">
                          <h5 class="fw-bolder"><%= food.get_name %></h5>
                              Variation : <%= food.get_varia %>%
                              <br>
                              Min : <%= food.get_min %>€ - Max : <%= food.get_max %>€
                        </div>
                  </div>
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <h5 class="mt-auto"><%= food.get_price %>€</h5>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <section class="py-5">
    </div>
  </body>
</html>